#sobre-mi {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 40px;
}

.skills {
  max-width: 600px;
  margin: 0 auto;
}

.skills h2 {
  margin-bottom: 20px;
}

.skills ul {
 display: flex;
 flex-direction: column;
 justify-content: center;
 list-style:on;
 padding: 0 6em;

}

.skills li {
  margin: 5px 0;
}
