#inicio {
    background-color:black;
    color: #fff;
    width: 100%; 

    padding: 1em;
    gap: 1.5em;

    text-align: center; 
    
 }
  
  .intro {
    background-color:black;
    display: grid;
    justify-content: center;
    padding: 2em 1em;
    gap: 1em;
   
    }
  
  .intro h1{
    color: orangered;
font-size: 2.0rem;
  }

.intro p {
    padding: 1em;
    font-size: 1.0rem;
  }


  .imagen {
  
   /* background-color: black; */
    
    padding: 1em;
    display: flex;
    justify-content: center;
  }
  
  .imagen img {
    margin:auto ;
    background-color:black;
  }
  