nav {
    padding: 1em 0;
    background-color: #333;
    color: #fff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 05px;
    margin-left: 05px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  