nav {
    display: flex;
    justify-content:space-between;
    padding: .5em 1em;

    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;

  }
  
  ul {
    list-style-type: none;
    gap: 1em;
    display: flex;
    
    
   
  }
  
  li {
   
    margin-right: 05px;
    margin-left: 05px;
      
}
  
  a {
    
    text-decoration: none;
    color: #fff;
  }
  